In [2]:
'''
Question 1 - 
Can you tell me the output of the following pyhton code - 

a = -(100 % 30) // 3
print(a)
'''

'\nQuestion 1 - \nCan you tell me the output of the following pyhton code - \n\na = -(100 % 30) // 3\nprint(a)\n'

In [3]:
a = -(100 % 30) // 3
print(a)

-4

In [4]:
'''
Question 2 - 
How can I merge two dictionaries in python?

Example ->
A = {
    "a" : 1,
    "b" : 2,
    "c" : 3
}

B = {
    "b" : 0,
    "d" : 10
}

Result = {
    "a" : 1,
    "b" : 0,
    "c" : 3,
    "d" : 10
}
'''

'\nQuestion 2 - \nHow can I merge two dictionaries in python?\n\nExample ->\nA = {\n    "a" : 1,\n    "b" : 2,\n    "c" : 3\n}\n\nB = {\n    "b" : 0,\n    "d" : 10\n}\n\nResult = {\n    "a" : 1,\n    "b" : 0,\n    "c" : 3,\n    "d" : 10\n}\n'

In [11]:
A = {
    "a" : 1,
    "b" : 2,
    "c" : 3
}

B = {
    "b" : 0,
    "d" : 10
}

In [9]:
# Method 1
A.update(B)

In [10]:
A

{'a': 1, 'b': 0, 'c': 3, 'd': 10}

In [13]:
# Method 2
Result = A | B

In [14]:
Result

{'a': 1, 'b': 0, 'c': 3, 'd': 10}

In [16]:
# Method 3
Result = { **A, **B }

In [17]:
Result

{'a': 1, 'b': 0, 'c': 3, 'd': 10}

In [18]:
'''
Question 3 - 
1. Take a string as input.
2. Convert this string to lower case without using any inbuild string methods.
'''

'\nQuestion 3 - \n1. Take a string as input.\n2. Convert this string to lower case without using any inbuild string methods.\n'

In [19]:
a = "THISGhdgsjdfhjja"

In [20]:
a.lower()

'thisghdgsjdfhjja'

In [21]:
ord("a")

97

In [23]:
chr(97)

'a'

In [24]:
ord("A")

65

In [25]:
ord("Z")

90

In [35]:
def custom_lower(a): # correct approach
    result = ""
    
    for i in a:
        if ord(i) >= 65 and ord(i) <= 90:
            result += chr(ord(i) + 32)
        else:
            result += i
    
    return result

In [31]:
custom_lower("ThiS iS a WEIRD stRInG!!!@")

'this is a weird string!!!@'

In [34]:
def custom_lower(a): # incorrect approach
    result = ""
    
    for i in a:
        result += chr(ord(i) + 32)
    
    return result

In [33]:
custom_lower("ThiS iS a WEIRD stRInG!!!@")

't\x88\x89s@\x89s@\x81@weird@\x93\x94ri\x8egAAA`'

In [36]:
'''
Question 4 - 
Can you tell me if the following implementation of a function is correct?

def foo(a, b = 6, c, d):
    return a + b + c + d
'''

'\nQuestion 4 - \nCan you tell me if the following implementation of a function is correct?\n\ndef foo(a, b = 6, c, d):\n    return a + b + c + d\n'

In [37]:
def foo(a, b = 6, c, d):
    return a + b + c + d

SyntaxError: non-default argument follows default argument (28185372.py, line 1)

In [38]:
def foo(a, b = 5):
    return a+b

In [40]:
foo(3, 10)

13

In [41]:
def foo(a, c, d, b = 6):
    return a + b + c + d

In [42]:
def foo(a, b = 6, c = 0, d = 0):
    return a + b + c + d

In [43]:
def foo(4,5,6):
    print("what?")

SyntaxError: invalid syntax (2052874863.py, line 1)

In [44]:
'''
Question 5 - 
1. Take a string as input.
2. Print the number of unique characters present in that string.
'''

'\nQuestion 5 - \n1. Take a string as input.\n2. Print the number of unique characters present in that string.\n'

In [45]:
a = "ssssddddffffggggabc"

In [47]:
len(set(a))

7

In [48]:
'''
Question 6 - 
1. You will receive a string as input.
2. Check whether that string contains a binary number or not.

Example ->
1. "101010101111011" -> Binary
2. "169100101022111" -> Not Binary
'''

'\nQuestion 6 - \n1. You will receive a string as input.\n2. Check whether that string contains a binary number or not.\n\nExample ->\n1. "101010101111011" -> Binary\n2. "169100101022111" -> Not Binary\n'

In [70]:
def check_binary(a):
    characters = set(a)
    
    if len(a) == 0:
        return "Incorrect Input"

    if len(characters) > 2:
        return "Not Binary"
        
    if (len(characters) == 2 and characters == {"0","1"}) or (len(characters) == 1 and ("1" in characters or "0" in characters)):
        return "Binary"
    else:
        return "Not Binary"

In [71]:
check_binary("")

'Incorrect Input'

In [72]:
check_binary("1")

'Binary'

In [73]:
check_binary("101")

'Binary'

In [74]:
check_binary("101a")

'Not Binary'

In [75]:
check_binary("1a")

'Not Binary'

In [57]:
{'1', 'a'} # this will cause problems

{'1', 'a'}

In [67]:
def check_binary_2(a):
    characters = set(a)
    
    if len(a) == 0:
        return "Incorrect Input"

    if len(characters) > 2:
        return "Not Binary"
        
    sum_set = 0
    for i in characters:
        sum_set += int(i)
    
    if sum_set <= 1:
        return "Binary"
    else:
        return "Not Binary"

In [69]:
check_binary_2("10101")

'Binary'

In [68]:
check_binary_2("1a")

ValueError: invalid literal for int() with base 10: 'a'

In [65]:
set("1a")

{'1', 'a'}

In [63]:
sum_set = 0
for i in set("1a"):
    sum_set += int(i)

ValueError: invalid literal for int() with base 10: 'a'

In [76]:
'''
Question 7 -
Write a program to flatten a list in python.

INPUT -> [1,2,3,[4,5],[[[[[5,6,7],[8,9,0]]]]]]
OUTPUT -> [1,2,3,4,5,6,7,8,9,0]
'''

'\nQuestion 7 -\nWrite a program to flatten a list in python.\n\nINPUT -> [1,2,3,[4,5],[[[[[5,6,7],[8,9,0]]]]]]\nOUTPUT -> [1,2,3,4,5,6,7,8,9,0]\n'

In [77]:
def flatten_list(a):
    result = []
    
    while a:
        element = a.pop()
        
        if type(element) == list:
            a.extend(element)
        else:
            result.append(element)
            
    return result[::-1]

In [80]:
a = [1,2,3,[4,56.67],[[[[[True,6,(1,23)],[8,"string",0]]]]]]

In [81]:
flatten_list(a)

[1, 2, 3, 4, 56.67, True, 6, (1, 23), 8, 'string', 0]

In [82]:
# list can only contain single digit numbers

In [95]:
def flatten_list_simple(a):
    str_a = str(a)
    
    result = []
    
    for i in str(a):
        if i.isdigit():
            result.append(int(i))
    
    return result

In [96]:
a = [1,2,3,[4,5],[[[[[5,6,7],[8,9,0]]]]]]
result = flatten_list_simple(a)

In [97]:
result

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 0]

In [98]:
'''
Question 8 -
Print multiplication till 10 using only 1 line of python.
'''

'\nQuestion 8 -\nPrint multiplication till 10 using only 1 line of python.\n'

In [99]:
'''
1 2 3 4 5 6 7 8 9 1 0
2 4 6 8 10 12 14 16 18 20
....
10 20 30 40 50 60 70 80 90 100
'''

'\n1 2 3 4 5 6 7 8 9 1 0\n2 4 6 8 10 12 14 16 18 20\n....\n10 20 30 40 50 60 70 80 90 100\n'

In [104]:
" ".join([ j for j in range(1,11) ])

TypeError: sequence item 0: expected str instance, int found

In [107]:
[ " ".join([ str(i*j) for j in range(1,11) ]) for i in range(1,11) ]

['1 2 3 4 5 6 7 8 9 10',
 '2 4 6 8 10 12 14 16 18 20',
 '3 6 9 12 15 18 21 24 27 30',
 '4 8 12 16 20 24 28 32 36 40',
 '5 10 15 20 25 30 35 40 45 50',
 '6 12 18 24 30 36 42 48 54 60',
 '7 14 21 28 35 42 49 56 63 70',
 '8 16 24 32 40 48 56 64 72 80',
 '9 18 27 36 45 54 63 72 81 90',
 '10 20 30 40 50 60 70 80 90 100']

In [109]:
# HOMEWORK
'''
Question 9 - 
1. Take a string as input.
2. Create a dictionary acc to the following criteria - 
- There will be one key value pair for each unique character - 
- Key will be character and value will be the count of character inside the list

INPUT - "rrsssstttt"
OUTPUT -
{
    "r": 2,
    "s": 4,
    "t": 4
}
'''


'''
Question 10 - 
Write a function to merge two sorted lists in sorted order -
a = [2,4,6,8,9]
b = [1,3,5,9]
RESULT = [1,2,3,4,5,6,8,9,9]

NO INTERNAL SORTING FUNCTIONS CAN BE USED. :)
'''

'\nQuestion 10 - \nWrite a function to merge two sorted lists in sorted order -\na = [2,4,6,8,9]\nb = [1,3,5,9]\nRESULT = [1,2,3,4,5,6,8,9,9]\n\nNO INTERNAL SORTING FUNCTIONS CAN BE USED. :)\n'

In [110]:
a = 34898743234567898765434567898765432456789098765432

In [111]:
a

34898743234567898765434567898765432456789098765432